<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpWiR39FOCTX4MfxPU4J8AV-3pGfU1JVs</string>
	<key>GCM_SENDER_ID</key>
	<string>736164875679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>georgiana.com.Licenta</string>
	<key>PROJECT_ID</key>
	<string>chatlicenta</string>
	<key>STORAGE_BUCKET</key>
	<string>chatlicenta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736164875679:ios:600d9a1b2930c38d8101aa</string>
</dict>
</plist>